@import url('style.css');


@media only screen and (max-width: 1000px) {
	body {
    	min-width: 100%;
    	font-size: 14px;
    }
    .container {
        min-width: 100%;
    }
    
    #main {
    	width: 100%;
    }
    
    .navbar-toggleable-md .navbar-nav .dropdown-menu {
        position: absolute;
        float: none;
    }
    .navbar-nav {
    	margin-top: 0.4em;
    }


    .thumb-wrap .form-group .col-md-10 {
    	max-width: 100%;
    }
    .thumb-prev .no-img {
        line-height: 170px;
    }
    .mp-edit .panel-heading .float-left,
    .mp-create .panel-heading .float-left {
    	float: none !important;
    }
    .mp-edit .panel-heading .float-right,
    .mp-create .panel-heading .float-right {
    	float: none !important;
        text-align: center;
        margin-top: 1.5em;
    }
    
    
}	

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 750px) {
	body {
    	font-size: 1em;
    }
	.wrap-all {
    	min-height: 300px;
    }

    #main {
        width: 100%;
    }
    
    .site-header .fa-bars {
    	color: #fff;
        font-size: 3em;
    }
    
    .carousel {
    	height: 400px;
    }
    
    .main-navigation {
    	display: none;
    }
    .main-navigation > ul > li {
    	float: none;
        border-bottom: 1px solid #fff;
        border-right: 0;
        padding: 0;
    }
    .main-navigation > ul > li.nav-active {
		background: #6DC7EB;
    	color: #fff;
    }
    .main-navigation > ul > li > span {
    	display: inline-block;
    	margin-left: 2em;
        font-size: 1.1em;
        padding: 0.7em 0;
    }
    .menu-dropdown {
    	width: 100%;
        border-bottom: 0;
        display: none;
    }

    .dropdown-item {
    	margin-left: 0;
        padding-left: 0;
    }
    
    .top-cont {
    	height: auto;
    }
    .top-cont article {
    	width: 100%;
        height: 250px;
        float: none;
        background-size: 120% auto;
    }
    .top-cont article .meta {
    	font-size: 1em;
        width: 90%;
        top: auto;
        left: auto;
        bottom: 0 !important;
        right: 0 !important;
    }
    
    
    
    
    .searchform {
        width: 93%;
        margin: auto;
        padding: 0.4em 0 0;
        display: none;
        z-index: 9999;
    }
    
    .h2 {
        font-size: 1.2em !important;
        line-height: 1.3em;
    }
    .h3 {
        font-size: 1.0em !important;
    }
    
    
    
    .contact .table {
    	border: none;
    }
    .contact .table tbody tr th {
    	width: 100%;
        display: block;
        border: none;
        padding: 0 0 0.4em;
    }
    .contact .table tbody tr td {
    	width: 100%;
        display: block;
        border: none;
        padding: 0;
    }
    
    
    .movie-frame iframe {
    	width: 100%;
    }
    .single .table tbody tr th {
    	font-size: 0.75em;
        font-weight: normal;
        padding-left: 0.5em;
        padding-right: 0.3em;
    }
    .single-img > img {
    	width: 100%;
    }
    
    
    
    
    .contact .table tbody tr td [class*="col-"] {
    	max-width: 100%;
        padding: 0;
    }

    .contact .cth {
        background: none;
        width: 100%;
    }
    
    .login-btn .btn {
    	width: 100%;
    }
    .login-btn a.btn {
    	text-align: right;
        margin-top: 1.4em;
        padding: 0;
    }
    
    #colop {
    }
    
    #colop .foot-wrap:first-of-type {
        width: 77%;
		float: none;
        -webkit-transform: rotateZ(0);
    	transform: rotateZ(0);
    }

    #colop .foot-wrap:nth-of-type(2) {
        width: 62%;
    }
    #colop .foot-wrap:last-of-type {
        width: 30%;
        float: none;
        margin-top: 2em;
    }
    #colop ul li {
    	font-size: 0.9em;
        padding-left: 0;
        padding-right: 1.4em;
    }
    #colop ul li:first-of-type {
    	padding-left: 0;
    }

}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	body {
    	font-size: 0.95em;
    }
	
}

