@import url('style.css');


@media only screen and (max-width: 1170px) {
	body {
    	min-width: 100%;
    	font-size: 12px;
    }
    .navbar-brand span {
    	font-size: 1.1em;
    }
    .s-form input {
    	font-size: 0.85em;
    }
    
    
    #main,
    #main.fix-page {
        width: 100%;
    }
    .main-navigation {
    	min-width: 100%;
    }
    .single,
    .single .cont-wrap {
    	width: 100%;
    }
    #main.fix-page {
        margin-bottom: 4em;
        margin-top: 120px;
    }
    #main.archive-index,
    #main.feature-index {
        margin-top: 98px;
    }
    .single {
        margin-top: 75px;
    }

    .container {
        min-width: 100%;
    }
    
    .carousel {
    	height: 450px;
    }
    .top-cont {
		height: 500px;
    }
    .top-cont article span {
    	display: none;
    }
	.top-cont article .meta,
    .top-cont article a:hover .meta {
    	font-size: 2em;
        width: 90%;
    }
    
    .movie-frame {
    	width: 100%;
    	height: auto;
    }
    .movie-frame iframe {
    	width: 100%;
        height: 530px;
    }
    
    .archive article {
    	height: 250px;
    }
    .archive article .meta {
    	font-size: 1.5em;
    }


    .thumb-prev .no-img {
        line-height: 170px;
    }
    
    
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 750px) {
	body {
    	font-size: 1em;
    }
	.wrap-all {
    	min-height: 300px;
        margin-top: 37px;
    }
    #main {
    	min-height: 300px;
    }

	#main.fix-page {
        margin-bottom: 3em;
        margin-top: 100px;
    }
    #main.archive-index,
    #main.feature-index {
        margin-top: 39px;
    }
    .single {
        margin-top: 35px;
    }
    
    .site-header .fa-bars {
    	color: #fff;
        font-size: 3em;
    }
    .site-header {
    	text-align: center;
        padding: 0 7px;
    }
    .site-header h1 {
    	float: none;
        display: inline-block;
    	//border: 1px solid blue;
        width: 60%;
        text-align: center;
        margin: 0.2em auto;
    }
    .site-header h1 span {
    	font-size: 0.6em;
        margin-left: 0;
    }
    .navbar-brand {
    	width: auto;
        display: inline-block;
    	margin: 0;
        padding: 0;
        //border: 1px solid red;
    }
    .navbar-brand img {
    	width: 90px;
        margin: 0.2em 0 0;
        padding: 0;
        //border: 1px solid orange;
    }
    
    .s-form > div {
    	display: none;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 9998;
        width: 100%;
        background: #50BFC2;
    }
    .s-form input {
    	display: block;
        width: 90%;
        opacity: 1;
        margin: auto;
        font-size: 0.8em;
     	padding: 0.3em 0.7em;
    }
    .site-header .btn-s {
    	padding-right: 4px;
        //z-index: 99999;
    }
    .site-header .btn-s .fa {
    	font-size: 1.2em;
    }
    
    /* ******** */
    #menuButton {
      display: block;
      width: 38px;
      height: 35px;
      float: left;
      margin: 4px 0 0 3px;
      position: relative;
      text-decoration: none;
      //border: 1px solid red;
    }
    #menuButton span {
      display: block;
      background: #fff;
      width: 28px;
      height: 2px;
      position: absolute;
      left: 0;
/*      transition: all 0.4s;*/
/*      -webkit-transition: all 0.4s;*/
/*      -moz-transition: all 0.4s;*/
    }
    #menuButton em {
    	display: block;
    	font-style: normal;
        position: absolute;
        bottom: 3px;
        left: 2px;
        font-size: 0.8em;
    }
    #menuButton span:first-child {
    	top: 5px;
    }
    #menuButton span:nth-child(2) {
    	top: 14px;
    }
    #menuButton span:last-child {
    	top: 23px;
    }
/*    #menuButton.active span:first-child {*/
/*    	-webkit-transform: translateY(10px) rotate(225deg);*/
/*      transform: translateY(10px) rotate(225deg);*/
/*    }*/
/*    #menuButton.active span:nth-child(2) {*/
/*      opacity: 0;*/
/*    }*/
/*    #menuButton.active span:last-child {*/
/*    	-webkit-transform: translateY(-10px) rotate(-225deg);*/
/*      transform: translateY(-10px) rotate(-225deg);*/
/*    }*/
    
    .carousel {
    	height: 250px;
    }
    
    .main-navigation {
    	display: none;
        overflow-y: scroll;
        height: 520px;
    }
    .main-navigation > ul > li {
    	float: none;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #fff;
        border-right: 0;
        padding: 0;
    }
    .main-navigation > ul > li.nav-active {
		background: #6DC7EB;
    	color: #fff;
    }
    .main-navigation > ul > li > span {
    	display: inline-block;
    	margin-left: 1.6em;
        font-size: 1.0em;
        padding: 0.4em 0;
    }
    .menu-dropdown {
    	width: 100%;
        border-bottom: 0;
        display: none;
        //overflow-y: scroll;
    }

    .dropdown-item {
    	margin-left: 0;
        padding-left: 0;
    }
    
    .top-cont {
    	height: auto;
    }
    .top-cont h2 {
    	font-size: 1.2em;
        left: 0;
        width: 100%;
        padding: 2px 0;
    }
    .top-cont article {
    	width: 100%;
        height: 160px;
        float: none;
        background-size: 120% auto;
    }
/*    .top-cont.pickup article {*/
/*    	width: 50%;*/
/*        background-size: auto 110%;*/
/*    }*/
    .top-cont article .meta,
    .top-cont article a:hover .meta {
    	font-size: 0.7em;
        width: 90%;
        top: auto;
        left: auto;
        bottom: 1em !important;
        right: 0.3em !important;
    }
    
    
    
    .movie-frame iframe {
    	width: 100%;
        height: 360px;
    }
    .single .contents div {
    	float: none;
        width: 100%;
    }
    .single .contents h4 {
    	margin-top: 1em;
    }
    
    
    .h2 {
        font-size: 1.1em !important;
        //line-height: 1.3em;
    }
    .h3 {
        font-size: 1.0em !important;
    }
    
    
    /* Archive */
    .archive-index h2,
	.feature-index h2 {
    	display: block;
    	width: 100%;
        padding: 2px 0;
        font-size: 1.2em;
        margin: 0;
/*        -webkit-transform: none;*/
/*        transform: none;*/
    }
    .model-index h2 {
    	font-size: 1.4em;
    }
    .model .table-responsive,
    .model .contents {
        width: 100%;
    }
    .snap-wrap > div.snap-sp {
    	height: 250px;
        position: static;
        background-position: 0;
        margin-bottom: 0.7em;
        //border: 1px solid red;
    }
    .snap-wrap > div.snap-meta {
    	position: static;
    	//position: relative;
        width: 100%;
        height: auto;
        overflow: auto;
    }
    .archive-index .top-cont article,
    .feature-index .top-cont article,
    .model-index .top-cont article {
    	width: 50%;
        height: 150px;
        background-size: auto 115%;
    }
    
    .single h2 {
    	font-size: 1.4em;
    }
    
    
/*    .contact .table-responsive {*/
/*    	width: 100%;*/
/*    }*/
    .contact .table {
    	border: none;
        //width: 90%;
    }
    .contact .table tbody tr th {
    	width: 100%;
        display: block;
        border: none;
        padding: 0 0 0.4em;
    }
    .contact .table tbody tr td {
    	width: 100%;
        display: block;
        border: none;
        padding: 0;
    }
    .contact input,
    .contact select,
    .contact textarea {
    	width: 100%;
    }
    
    

    .single .table tbody tr th {
    	font-size: 0.75em;
        font-weight: normal;
        padding-left: 0.5em;
        padding-right: 0.3em;
    }
    .single-img > img {
    	width: 100%;
    }
    
    
    
    
    .contact .table tbody tr td [class*="col-"] {
    	max-width: 100%;
        padding: 0;
    }

    .contact .cth {
        background: none;
        width: 100%;
    }
    
    .login-btn .btn {
    	width: 100%;
    }
    .login-btn a.btn {
    	text-align: right;
        margin-top: 1.4em;
        padding: 0;
    }
    
    #colop {
    }
    
    #colop .foot-wrap:first-of-type {
        width: 85%;
        float: none;
        font-size: 80%;
        -webkit-transform: rotateZ(0);
    	transform: rotateZ(0);
    }
    #colop .foot-wrap:first-of-type p {
        margin: 0;
    }

    #colop .foot-wrap:nth-of-type(2) {
        width: 54%;
    }
    #colop .foot-wrap:last-of-type {
        width: 35%;
        float: none;
        margin-top: 2em;
    }
    #colop ul {
    	margin: 1em 0 0;
        padding: 0;
    }
    #colop ul li {
    	float: none;
        width: 100%;
    	font-size: 0.9em;
        padding-left: 0;
        padding-right: 0;
    }
    #colop ul li:first-of-type {
    	padding-left: 0;
    }
    
    
    

}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	body {
    	font-size: 0.95em;
    }
	
}

