@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	min-width: 1200px;
    color: #515151;
}


.site-header {
	background: #50BFC2;
    padding: 5px 10px;
    z-index: 10000;
}
.site-header h1 {
    width: 40%;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}
.site-header h1 a:hover {
	color: #40979B;
}
.site-header .btn {
	background: none;
    padding: 0.5em 0.7em;
    border: 1px solid #A1DBDD;
    cursor: pointer;
}
.site-header .btn .fa {
	color: #fff;
    font-size: 1.3em;
}
.navbar {
	background: skyblue;
}
.fixed-top {
	z-index: 9999;
}
.navbar-brand {
	font-size: 1.2em;
	font-family: 'Quicksand', sans-serif;
    color: #fff;
}
.navbar-collapse {
    //padding-left: 2em;
}
.navbar-nav {
	width: 100%;
    float: none;
    clear: both;
    background: red;
}
.navbar-nav .nav-item {
	padding: 0 1.5em;
    border-right: 1px solid #fff;
}
.navbar-nav .nav-item .nav-link {
	color: #fff !important;
    font-size: 1.0em;
    font-weight: bold;
    padding: 0;
}
.input-group .form-control {
	border: 1px solid #f7f7f7;
    width: 15em;
}
.navbar .input-group-btn:not(:first-child) > .btn { /* search */
	padding: 0 0.8em;
    line-height: 0;
    border: none;
    height: 50%;
    border-left: 1px solid #ddd;
}

.main-navigation > ul {
	width: 100%;
    list-style: none;
    background: skyblue;
    margin: 0;
    padding: 0;
}
.main-navigation > ul > li {
	float: left;
    padding: 0.3em 2em;
    border-right: 1px solid #fff;
    cursor: pointer;
    color: #fff;
}
.main-navigation > ul li a {
	color: #fff;
}
.main-navigation > ul > li.nav-active {
	background: #fafbfb;
    color: #555;
    -webkit-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

.menu-dropdown-wrap {
	width: 100%;
    background: #fafbfb/*#fdfcfb*/;
}
.menu-dropdown {
	position: relative;
    top: 0;
    left: 0;
	border-bottom: 1px solid #c1c1c1;
    display: none;
    padding: 1.2em 0 1.6em;
}
.menu-dropdown h2 {
	font-size: 1em;
    padding-bottom: 0.2em;
    font-weight: bold;
    color: #8a8a8a;
    border-bottom: 1px dotted #aaa;
}
.menu-dropdown ul {
	list-style: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    //border: 1px solid red;
}
.menu-dropdown ul li {
	float: left;
    margin: 0;
    padding: 0 0.5em 0 0;
    text-align: left;
/*    background: azure;*/
/*    border: 1px solid #50BFC2;*/
/*    border-radius: 3px;*/
}
.dropdown-item {
	color: #50BFC2;
    font-weight: bold;
}
.dropdown-item:hover {
	background: none;
    color: #ccc;
}


/*.h2 {*/
/*	font-size: 1.5em;*/
/*}*/
/*.h3 {*/
/*	font-size: 1.2em;*/
/*}*/
.container {
	width: 100%;
	//border: 1px solid red;
    padding: 0 !important;
}



/* Custom */
.wrap-all {
	width: 100%;
	margin-top: 55px;
    min-height: 1000px;
    padding: 0;
    //border: 1px solid green;
}

#main {
    width: 1200px;
	margin: 0 auto;
    min-height: 1000px;
    //border: 1px solid blue;
}
#main.top {
	width: 100%;
}
#main.fix-page {
	width: 1000px;
}
#main.archive-index,
#main.feature-index,
#main.fix-page {
	margin-top: 108px;
}
.single {
	margin-top: 85px;
}
.single .cont-wrap {
	width: 1200px;
    margin: 1em auto 3em;
}

.carousel {
	height: 700px;
    overflow: hidden;
    position: relative;
}
.carousel img {
	width: 100%;
}

.carousel-inner a {
	display: block;
	width: 100%;
    height: 100%;
}
.carousel-indicators {
	//z-index: 9999;
}
.carousel-indicators li,
.carousel-indicators li.active {
	background: #fff;
}
.carousel-caption {
	position: absolute;
    width: 58%;
    height: auto;
	top: 35%;
    right: 1em;
    left: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    //border: 2px solid red;
    
/*    position: absolute;*/
/*  right: 15%;*/
/*  bottom: 20px;*/
/*  left: 15%;*/
/*  z-index: 10;*/
/*  padding-top: 20px;*/
/*  padding-bottom: 20px;*/
/*  color: #fff;*/
/*  text-align: center;*/
}
.carousel-item:first-of-type .carousel-caption {
	color: snow;
}
.carousel-item:nth-of-type(2) .carousel-caption {
	color: cornsilk;
}
.carousel-item:nth-of-type(3) .carousel-caption {
	color: mintcream;
}
.carousel-caption h3 {
	font-size: 4.2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}
.carousel-caption p {
	font-size: 3.2em;
    font-weight: bold;
	text-shadow: 1px 1px 2px #000;
    text-align: right;
    margin-right: 1em;
}

/* TOP 特集 */
.top-cont {
	height: 800px;
    position: relative;
    //border: 1px solid red;
}
.top-cont h2 {
	position: absolute;
    top: -0.6em;
    left: 31%;
    width: 38%;
    text-align: center;
    z-index: 99;
    font-size: 2.6em;
    background: #4FBFC1;
    color: #BAE8E8;
    font-weight: bold;
    padding: 3px 0;
    border-radius: 2em;
    text-transform: uppercase;
}
.top-cont:first-of-type h2,
.top-cont:nth-of-type(2) h2 {
	top: 0;
    left: 0.5em;
    background: tomato;
    color: moccasin;
	-webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
}
.top-cont article {
	padding: 0;
    margin: 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    //border: 1px solid #fff;
}
.top-cont article a {
	display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    //border: 2px solid red;
}
.top-cont article a:hover  {
    text-decoration: none;
    background: rgba(0,0,0,0.5);
    //border: 2px solid red;
}
.top-cont article .meta {
	color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-size: 2.4em;
    position: absolute;
    top: 2em;
    right: 1em;
    width: 75%;
}
.top-cont article .meta h3 {
	font-weight: bold;
    font-size: 1.5em;
}
.feature:first-of-type article:first-of-type {
	height: 100%;
    width: 40%;
    background-size: auto 120%;
    //text-align: right;
	-webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    -ms-text-orientation: upright;
    text-orientation: upright;
}
.feature:first-of-type article:first-of-type .meta {
	top: 2em;
}
.feature:first-of-type article:nth-of-type(2) {
	height: 50%;
    width: 60%;
    background-size: 120% auto;
    background-position: center;
}
.feature:first-of-type article:nth-of-type(3) {
	height: 50%;
    width: 60%;
    background-size: 120% auto;
    background-position: center;
}


/* pickup */
.pickup {
	//margin-bottom: 1px;
}
.pickup > div {
	width: 100%;
    height: 100%;
	overflow: hidden;
    position: relative;
}
.pickup article {
	position: relative;
	width: 110%;
	height: 55%;
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
}
.pickup article:first-of-type {
    top: -30px;
    left: -15px;
}
.pickup article:nth-of-type(2) {
    top: -30px;
    left: -15px;
}
.pickup article .meta {
	-webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
}
.pickup article:first-of-type .meta {
	width: 45%;
	//top: 10%;
	left: 40%;
}
.pickup article:nth-of-type(2) .meta {
	width: 90%;
	top: 30%;
	left: 2em;
}


/* atcl */
.atcl {
	//background: #edecec;
    //margin-bottom: 1px;
}
.atcl > div {
	position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    //border: 1px solid red;
}
.atcl article {
	position: relative;
    background-position: center;
    background-repeat: no-repeat;
}
.atcl article .meta h3 {
	font-size: 1.3em;
}
/*first*/
.atcl:nth-of-type(3n) article:first-of-type,
.feature:nth-of-type(2) article:first-of-type {
	height: 50%;
    width: 60%;
    background-size: 120% auto;
    //border: 1px solid red;
}
.atcl:nth-of-type(3n) article:first-of-type .meta,
.feature:nth-of-type(2) article:first-of-type .meta {
	top: 3em;
}
.atcl:nth-of-type(3n) article:nth-of-type(2),
.feature:nth-of-type(2) article:nth-of-type(2) {
	height: 50%;
    width: 60%;
    background-size: 120% auto;
}
.atcl:nth-of-type(3n) article:nth-of-type(2) .meta,
.feature:nth-of-type(2) article:nth-of-type(2) .meta {
	right: 2.5em;
}
.atcl:nth-of-type(3n) article:nth-of-type(3),
.feature:nth-of-type(2) article:nth-of-type(3) {
    height: 110%;
    width: 50%;
    background-size: auto 120%;
    position: absolute;
    top: -5%;
    right: -50px;
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
}
.atcl:nth-of-type(3n) article:nth-of-type(3) .meta,
.feature:nth-of-type(2) article:nth-of-type(3) .meta {
	width: 80%;
	top: 70%;
    left: 1em;
}
.atcl:nth-of-type(3n) article .meta {
	color: powderblue;
}

/* second */
.atcl:nth-of-type(3n+1) article:first-of-type,
.feature:nth-of-type(3) article:first-of-type {
	height: 55%;
    width: 55%;
    background-size: auto 120%;
    float: left;
}
.atcl:nth-of-type(3n+1) article:nth-of-type(2),
.feature:nth-of-type(3) article:nth-of-type(2) {
	height: 55%;
    width: 45%;
    background-size: auto 120%;
    float: left;
}
.atcl:nth-of-type(3n+1) article:nth-of-type(3),
.feature:nth-of-type(3) article:nth-of-type(3) {
	clear: both;
    height: 45%;
    width: 100%;
    background-size: 120% auto;
}
.atcl:nth-of-type(3n+1) article .meta {
	color: lavenderblush;
}

/* third */
.atcl:nth-of-type(3n+2) article:first-of-type,
.feature:nth-of-type(4) article:first-of-type {
	height: 100%;
    width: 40%;
    background-size: auto 120%;
    float: left;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    -ms-text-orientation: upright;
    text-orientation: upright;
}
.atcl:nth-of-type(3n+2) article:nth-of-type(2) ,
.feature:nth-of-type(4) article:nth-of-type(2) {
	height: 40%;
    width: 60%;
    background-size: 120% auto;
    float: left;
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
}
.atcl:nth-of-type(3n+2) article:nth-of-type(3),
.feature:nth-of-type(4) article:nth-of-type(3) {
    height: 60%;
    width: 60%;
    background-size: 120% auto;
    float: left;
}
.atcl:nth-of-type(3n+2) article .meta {
	color: blanchedalmond;
}



/* index */
.archive-index h2,
.feature-index h2 {
	background: tomato;
    color: moccasin;
/*    background: #4FBFC1;*/
/*    color: #BAE8E8;*/
    border-radius: 3px;
    font-weight: bold;
    font-size: 2.6em;
    text-align: center;
    padding: 0.1em 0;
    width: 48%;
    margin: 0 auto -0.5em;
    position: relative;
    z-index: 999;
    -webkit-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
}

/* feature-index */
.feature-index .feature {
	position: relative;
    overflow: hidden;
}
.feature-index .top-cont article .meta {
	color: azure;
}





/* Archive */
.archive-index h2 {
	//border: 1px solid #ccc;
}
.top-cont.archive {
	height: auto;
}
.archive article {
	width: 50%;
    height: 300px;
    background-size: 100% auto;
    background-position: center;
    //border: 3px solid #fff;
}
.archive article .meta {
	font-size: 1.8em;
}
.archive article .meta p {
	text-align: right;
}



.main-list {
    margin: 0;
    padding: 0;
}



.side-rank span[class*="rank-"] {
	display: inline-block;
    font-size: 1.0em;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.4em;
    text-align: center;
    border-radius: 50%;
	background: none;
    border: 1px solid #888;
    vertical-align: middle;
}




/* Custom Main */
/*.main-list article {*/
/*	width: 32.6%;*/
/*    height: 350px;*/
/*    margin-right: 0;*/
/*}*/
/*.top .main-list article {*/
/*	width: 24.2%;*/
/*    height: 350px;*/
/*    margin-right: 1%;*/
/*}*/
/*.top .main-list article:nth-of-type(3n) {*/
/*	margin-right: 1%;*/
/*}*/
/*.top .main-list article:nth-of-type(4n) {*/
/*	margin-right: 0;*/
/*}*/
.main-list .main-thumb {
	width: 100%;
    height: 60%;
	background-size: 130% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.main-list .main-thumb:hover,
.main-list .no-img:hover {
	
}



.no-img {
	display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FCFCFB;
    border: 1px solid #dfdfdf;
    color: #aaa;
}
.main-list .no-img {
	line-height: 170px;
    height: 100%;
}

/* Movie Flame */
.movie-frame,
.thumb-frame {
	width: 100%;
}
.movie-frame {
	background: #111;
    padding: 0;
    margin: 0;
    height: 720px;
    //width: 80%;
}
.movie-frame iframe {
	width: 100%;
    //height: auto;
	padding: 0;
    margin: 0;
    //border: 1px solid red;
}
.no-video {
	display: inline-block;
	padding-top: 25%;
}


/* Single */
.single h2 {
	margin-top: 1em;
    color: #4a4a4a;
    font-weight: bold;
    font-size: 2.4em;
    color: #4FBFC1;
    text-align: center;
}
.single h2 .fa {
	margin-right: 0.2em;
    //color: dodgerblue;
}
.single .contents {
	line-height: 1.8em;
    font-size: 1.1em;
}
.single .contents div {
	width: 49%;
}
.single .contents h4 {
	display: inline-block;
	font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background: tomato;
    text-align: center;
    padding: 0.2em 2em;
    border-radius: 1em;
}
.single .map-wrap {
	margin-top: 1em;
    position: relative;
}
.single .map-wrap h4 {
	display: inline-block;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 999;
	font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    background: darkorange;
    text-align: center;
    padding: 0.3em 2em;
    border-radius: 1em;
	-webkit-transform: rotateZ(-8deg);
    transform: rotateZ(-8deg);
}


/* model */
.model-index article .meta {
	top: 65%;
}

.model .table-responsive,
.model .contents {
	width: 49%;
}
.model .cth {
	background: azure;
    width: 30%;
}
.snap-wrap {
	margin: 6em 0;
}
.snap-wrap div {
	width: 100%;
	height: 500px;
    overflow: hidden;
    background-size: 100% auto;
    background-position: center;
    position: relative;
}
.snap-wrap div .snap-meta {
	//display: inline;
	width: 30%;
    height: auto;
	position: absolute;
    font-size: 0.95em;
    padding: 1.2em;
    color: #fff;
    background: rgba(64,152,155,0.75);
    //border: 2px solid rgba(80,191,194,0.6);
    border-radius: 1px;
}
.snap-wrap div .snap-meta h4 {
	font-size: 1.1em;
    padding-bottom: 0.3em;
    border-bottom: 1px dotted #fff;
}
.snap-wrap div:nth-of-type(odd) .snap-meta {
	top: 13%;
    right: 1em;
}
.snap-wrap div:nth-of-type(even) .snap-meta {
	bottom: 1em;
    left: 1em;
    width: 28%;
}


.page h2 {
	font-size: 1.9em;
    //color: #50BFC2;
	//background: #50BFC2;
	border-bottom: 3px solid skyblue/*#50BFC2*/;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}

.fix-page h2 {
	border-bottom: 1px solid #aaa;
    margin-bottom: 1em;
    padding-bottom: 0.3em;
}
.fix-page h3 {
	font-size: 1.1em;
    font-weight: bold;
}


/* Tag */
.rank-tag {
	display: inline-block;
	background: #F7EBE4;/*#F7EBE4*/
    padding: 0.2em 0.5em;
    margin-bottom: 0.7em;
	border-radius: 0.5em;
    border: 1px solid #E2D2C8;
    cursor: pointer;
}
.main-navigation .rank-tag {
	background: mintcream/*#F7EBE4*/;/*#F7F1E4*/
}

.rank-tag:hover {
	opacity: 0.65;
}
.rank-tag a {
	color: #5a5a5a;
    text-decoration: none;
}
.rank-tag .fa {
	margin-right: 0.1em;
    color: #aaa;
}
.cate-list .fa {
	color: #E6D6CB;
}


.pagination {
	margin: 2em 0;
}

.alert-danger ul {
	margin-top: 0.7em;
}

.single .no-img {
	line-height: 230px;
}
.mp-index .no-img {
	line-height: 70px;
    font-size: 0.7em;
}
.thumb-prev .no-img {
	line-height: 250px;
}
.thumb-prev img {
	width: 100%;
}
.thumb-check {
	margin-top: 0.2em;
}

.mp-index .panel-heading span,
.mp-index .panel-heading a {
	display: inline-block;
	border: 1px solid #eaeaea;
    border-bottom-color: #fff;
    margin-bottom: -1px;
    border-radius: 3px 3px 0 0;
    padding: 0.6em 1.2em;
    background: #fff;
}
.mp-index .panel-heading span {
	
}
.mp-index .panel-heading a {
	background: aliceblue;
    border-bottom-color: #eaeaea;
}
.mp-index .panel-heading a.btn {
	background: orange;
    border-radius: 3px;
    border: none;
    margin-top: -5px;
}
.mp-index th {
	background: #fff;
    border-width: 1px 0 0 0;
}
.mp-index th:first-of-type {
	border-left-width: 1px;
}
.mp-index th:last-of-type {
	border-right-width: 1px;
}
.mp-index .panel-body > p {
	margin-top: 1em;
}

/* contact */
.cth {
	background: #EEF6F0; /*url(../images/tile-wave.png),  */
    width: 25%;
}
.table th {
	color: #6a6a6a;
}
textarea#context {
	min-height: 17em;
}

/* List */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: skyblue;
}
/* List END */

.back-btn {
	display: inline-block;
	border: 1px solid #dfdfdf;
    background: #fafafa;
    padding: 0.2em 1.0em;
    font-size: 0.9em;
    border-radius: 5px;
}
.back-btn .fa {
	font-size: 1.1em;
}
.btn-info.btn-cus {
	background: #7DD1AF;
    border-color: #7DD1AF;
}
.btn-info.btn-cus:hover {
	background: #6BB496;
    border-color: #6BB496;
}

.tag-wrap {
	margin: 3em 0 5em;
}
.tag-group {
	margin-bottom: 2em;
}
.tag-group .tag-control {
	display: inline;
    width: 30%;
}
.tag-group .tag-control + .add-btn {
	display: none;
    width: auto;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.4em 0.5em;
    background: #fdfcfc;
}
.tag-area {
	margin-top: 0.8em;
    width: 100%;
}
.tag-area span {
	display: inline-block;
	margin-right: 0.5em;
    word-wrap: break-word;
    margin-bottom: 0.8em;
}
.tag-area em {
	border: 1px solid #ccc;
    background: linen;
    padding: 0.3em 0.6em;
    border-radius: 2px;
    font-style: normal;
    text-align: center;
}
.tag-area em + .fa { /* xマーク */
	display: inline-block;
    font-size: 0.8em;
	width: 1.8em;
    height: 1.8em;
    line-height: 1.7em;
    text-align: center;
    margin-left: 0.2em;
    border: 1px solid #aaa;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: top;
}

.mp-edit .panel-body,
.mp-create .panel-body {
	min-height: 2000px;
}
.mp-index .panel {
	min-height: 1000px;
}
textarea {
	min-height: 10em;
}






/* footer */
#colop {
	background: #fafbfb/*#50BFC2 #fdfcfc*/;
    border-top: 1px solid #ddd;
}
#colop > .container {
	min-height: 10em;
}
#colop a.navbar-brand,
#colop a.navbar-brand:visited {
	color: #50BFC2;
    font-size: 1.2em;
}
#colop ul {
	list-style: none;
    padding: 0;
    margin: 0.8em 0 0;
}
#colop ul li {
	display: inline-block;
    padding: 0.1em 1.2em;
}
#colop ul li a,
#colop ul li a:visited {
	color: #5a5a5a;
}
#colop ul li a .fa {
	margin-right: 0.15em;
}
#colop ul li:last-of-type {

}
#colop .navbar-brand {
	font-size: 1.4em !important;
}
#colop .navbar-brand + div {
	color: #709A9B;
    margin-bottom: 1.4em;
    font-size: 0.9em;
}
#colop .small{
	margin-bottom: 2em;
}
#colop > p {
	margin: 0;
    padding: 0;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
}
.top_btn {
	display: block;
	position: fixed;
	bottom: 30px;
	right: 2%;
    width: 2.7em;
    height: 2.6em;
	line-height: 2.3em;
	text-align: center;
	padding: 0;
	cursor: pointer;
    background: rgba(0,0,0,0.6);
    border-radius: 0.3em;
    z-index: 9999;
}
.top_btn .fa {
	display: inline-block;
	margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #fff;
    vertical-align: middle;
}
.top_btn:hover {
	opacity: 0.6;
}


.clear:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}


.dropdown-item.active, .dropdown-item:active {
  color: #1d1e1f;
  text-decoration: none;
  background-color: #f7f7f9;
}

@media (min-width: 300px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
